/*        ALL CSS FILES       */
@import url('./assets/css/login.css');
@import url('./assets/css/layout.css');

/*      Global CSS      */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}
